.navigation {
  width: 100vw;
  transition: transform 200ms linear;
}

.show-menu {
  position: relative;
  height: 93vh;
  left: 0;
  top: 0;
  transform: none;
}

.hide-menu {
  position: absolute;
  transform: translateX(-103%);
  transition: transform 200ms linear;
  height: 93vh;
  left: 0;
  top: 7vh;
}

.navigation ul {
  width: 100%;
  padding-left: 1rem;
}

.navigation ul li {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
