.todo-container {
  width: 85%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}

.todo-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-middle-row {
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-date {
  text-align: right;
}

.todo-item {
  width: 9.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.completed {
  text-decoration: line-through;
}

.todo-bottom-row {
  padding: 0.3rem 1rem 1rem 1rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 3px;
}

.todo-bottom-description,
.todo-bottom-project,
.todo-bottom-priority {
  display: flex;
  padding: 0.2rem 0;
  flex-direction: column;
}

.todo-bottom-header {
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  font-size: 0.8rem;
}

.todo-main-visible {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1rem;
}

.todo-container-title {
  text-transform: uppercase;
  padding: 0 0 1rem 0 ;
}

.no-tasks {
  display: flex;
  flex-direction:column;
}

.no-tasks span {
  padding: 0.1rem 0;
}

.todo-image:hover {
  cursor: pointer;
}

.todo-edit-button:hover {
  cursor: pointer;
}
