.todo-container {
  width: 85%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

.todo-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-middle-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-date {
  text-align: right;
}

.todo-item {
  width: 9.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
